catboost==1.2.10
joblib==1.5.3
jupyter==1.1.1
kloppy==3.18.0
lxml==6.0.4
matplotlib==3.10.8
numpy==1.25.2
pandas==2.3.3
pandera==0.13.4
pillow==12.0.0
pyarrow==22.0.0
pytorch_tabnet==4.1.0
pytorch_tabular==1.2.0
python-dateutil==2.9.0.post0
rdp==0.8
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
shapely==2.1.2
tabpfn_client==0.3.1
tqdm==4.67.1
tqdm_joblib==0.0.5
xgboost==3.2.0
